/* identity-values */

body {background: linear-gradient(rgb(255, 255, 255), rgb(116, 116, 116));
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 110px;
    margin-right: 110px;

}

h1 {
    font-size: 70px;
    text-align: center;
    background-color: darkgrey;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 15px;
    
}

a {
    font-size: 16px;
    color: black;
    margin-top: 50px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a:hover {
    color: rgb(255, 255, 255);
    background: linear-gradient(to left, rgb(77, 77, 77), rgb(196, 193, 193));
    width: 160px;
    text-align: center;
}

li {
    text-align: center;
}

img {
    width: 550px;
    height: 380px;
    align-content: center;
    text-align: center;
    
}

p {
    text-align: center;
}

